body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-size: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkred;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1em;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  p{
      
      font-size: 2em;
  }

  .request{
      text-align: center;
  }

  .buttons{
      font-size: 3em;
      background-color:white;

  }

  .message{
    text-align: left;
    padding-left: 14em;
  }

  a{
    color:darkred;
  }

  .smartphone .body {
    padding-left: 1em;
}

