body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mainDisplay{
    color: white;
    text-align: center;
    padding: 1.875em 6.25em;
    font-size: 3em;
    font-weight: bold;
    background-color: #9E323C;
}

h1{
    text-align: center;
    font-size: 4em;
}

#buttons{
    border: 0;
    color: inherit;
    border-bottom: 1px solid currentColor;
    padding: 0.25em;
    margin-bottom: 0;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
    
}


.button:hover{
    cursor: pointer;
    background-color: #9E323C  ;
    color: white;
}

.button{
    font-size: 0.75em;
}

.headButton:hover{
    cursor: pointer;
    background-color: #9E323C  ;
    color: white;
}

.headButton {
    font-size: 1em;
}
